@keyframes circle-in-hesitate {
    0% {
      clip-path: circle(0%);
    }
    40% {
      clip-path: circle(40%);
    }
    100% {
      clip-path: circle(125%);
    }
  }
/* 
.main {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-hesitate both;
    width: 85%;
    position: relative;
} */

@keyframes wipe-in-right {
    from {
      clip-path: inset(0 100% 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:wipe:right"] {
}


.item1_first_img img {
    animation: 5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
    width: 65%;
}

@keyframes half-circle-rotate {
  0%{
    transform: scale(1);

  }
  50%{
    transform: scale(1.3);
  }
  100%{
    transform: scale(1);
  }
}

.box {
  position: absolute;
  top: 0;
  right: 60px;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  animation: half-circle-rotate 3s infinite linear;
  
}
@keyframes top-to-bottom {
  0%{ top: 100px;

  }
  50%{
    top: 0px;
  }
  100%{
    top: 100px;
  }
}
.box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 90px;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  animation: top-to-bottom 3s infinite linear;
  animation-delay: 10s infinite linear ;
  
}